@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

body{
  overflow: hidden;
}

.bg-SamuelAlmeida{
  background: linear-gradient(#d3d3d3, #00BBAA);
  height: 100vh;
}
.bg-light{
  background: linear-gradient(#dcdcdc, #fff);
  height: 100vh;
}
.bg-dark{
background-color: #080808;
  height: 100vh;
}

.mt-n4 {
  margin-top: -1.5rem;
  border-radius: 1%
}

img{
border-radius: 4%
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Mate SC', serif;
}
