@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

body{
  overflow: hidden;
}

.bg-SamuelAlmeida{
  background: linear-gradient(#d3d3d3, #00BBAA);
  height: 100vh;
}

.mt-n4 {
  margin-top: -1.5rem;
  
}
img{
  border-radius: 3%
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Mate SC', serif;
}
